<h2>Welcome to Headshot Generator</h2>
<p>Hi <strong>{{name}}</strong></p>

<p>Thank you for registering. Please verify your email address by clicking the bellow button</p>

<p style="text-align: center;">
    <a href="{{verificationUrl}}"> Verify Email Address</a>
</p>

<p class="text-muted">Or copy and paste this link into your browser: </p>
<p class="link-url">{{verificationUrl}}</p>

<p class="text-muted">This link will expire after 24 hours.</p>
<p class="text-muted">If you did'nt create an account, Please ignore thi email</p>
